# youtube or twitch stream key
stream_key = "stream key goes here"

# youtube or twitch
streaming_service = "youtube"

# resolution
resolution = "1280x720"

# this will be set to off automatically on every boot.
streaming = "off"

# place to store the stream process id (PID)
stream_process_id = 0
