{%- extends 'base.html' %}
{% block content %}
<form method="POST" action="" class="container">

        <div class="row-sm">
            <h4>Settings</h4>
        </div>
        <div class="row-sm">
            <div class="col">

                <div class="row">
                    <label class="col col-form-label">Stream Key</label>
                    <div class="col">
                        <input name="stream_key" id="stream_key" class="form-control" type="password" value="{{ conf.stream_key }}" {% if conf.streaming == "on" %}disabled{% endif %} placeholder="Stream Key">
                    </div>
                </div>    

                <div class="row">
                    <label class="col col-form-label">Streaming Service</label>
                    <div class="col">
                        <select class="form-select form-select-m" name="streaming_service" id="streaming_service" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto" {% if conf.streaming == "on" %}disabled{% endif %}>
                        {% for streaming_service in streaming_services %}
                        <option value="{{ streaming_service }}" {% if streaming_service == conf.streaming_service %} selected {% endif %}>{{ streaming_service }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>    

                <div class="row">
                    <label class="col col-form-label">Stream Resolution</label>
                    <div class="col">
                        <select class="form-select form-select-m" name="resolution" id="resolution" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto" {% if conf.streaming == "on" %}disabled{% endif %}>
                        {% for resolution in resolutions %}
                        <option value="{{ resolution }}" {% if resolution == conf.resolution %} selected {% endif %}>{{ resolution }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>    

                <div class="row">
                    <label class="col col-form-label">Streaming</label>
                    <div class="col">
                        <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="streaming" name="streaming" {% if conf.streaming == "on" %}checked{% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="overlay" class="col col-form-label">Current Overlay</label>
 
                    <img id="overlay" src="{{ url_for('static', filename='images/overlay.png') }}" class="img-fluid img-thumbnail" width="100px" height="100px">

                </div>
            </div>
        </div>
        <div class="row-sm">
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

</form>
<div class="container">
    <div class="col">
        <br>
        <div class="row-sm">
            <a type="button" class="btn btn-secondary" href="{{ url_for('logout.logout') }}">Log out</a>
        </div>
    </div>
</div>
{% endblock %}