{%- extends 'base.html' %}
{% block content %}
<form method="POST" action="" class="container">

    <div class="row-sm">
        <h4>Settings</h4>
    </div>
    <div class="row-sm">
        <div class="col">

            <div class="row">
                <label class="col col-form-label">Stream Key</label>
                <div class="col">
                    <input name="stream_key" id="stream_key" class="form-control w-50 hidden-text" type="text" value="{{ conf.stream_key }}" {% if conf.streaming=="on" %}disabled{% endif %} placeholder="Stream Key">
                </div>
            </div>

            <div class="row">
                <label class="col col-form-label">Streaming Service</label>
                <div class="col">
                    <select class="form-select form-select-m w-50" name="streaming_service" id="streaming_service" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto" {% if conf.streaming=="on" %}disabled{% endif %}>
                        {% for streaming_service in options.streaming_services %}
                        <option value="{{ streaming_service }}" {% if streaming_service==conf.streaming_service %} selected {% endif %}>{{ streaming_service }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <label class="col col-form-label">Stream Resolution</label>
                <div class="col">
                    <select class="form-select form-select-m w-50" name="resolution" id="resolution" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto" {% if conf.streaming=="on" %}disabled{% endif %}>
                        {% for resolution in options.resolutions %}
                        <option value="{{ resolution }}" {% if resolution==conf.resolution %} selected {% endif %}>{{ resolution }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <label class="col col-form-label">Framerate</label>
                <div class="col">
                    <select class="form-select form-select-m w-50" name="framerate" id="framerate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto" {% if conf.streaming=="on" %}disabled{% endif %}>
                        {% for framerate in options.framerates %}
                        <option value="{{ framerate }}" {% if framerate==conf.framerate %} selected {% endif %}>{{ framerate }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <label class="col col-form-label">Bitrate</label>
                <div class="col">
                    <select class="form-select form-select-m w-50" name="bitrate" id="bitrate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto" {% if conf.streaming=="on" %}disabled{% endif %}>
                        {% for bitrate in options.bitrates %}
                        <option value="{{ bitrate }}" {% if bitrate==conf.bitrate %} selected {% endif %}>{{ bitrate }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <label class="col col-form-label">Threads</label>
                <div class="col">
                    <select class="form-select form-select-m w-50" name="threads" id="threads" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto" {% if conf.streaming=="on" %}disabled{% endif %}>
                        {% for thread in options.threads %}
                        <option value="{{ thread }}" {% if thread==conf.threads %} selected {% endif %}>{{ thread }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <label class="col col-form-label">Overlay</label>
                <div class="col">
                    <select class="form-select form-select-m w-50" name="overlay" id="overlay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: auto" {% if conf.streaming=="on" %}disabled{% endif %}>
                        {% for overlay in options.overlay %}
                        <option value="{{ overlay }}" {% if overlay==conf.overlay %} selected {% endif %}>{{ overlay }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <label class="col col-form-label">Overlay URL</label>
                <div class="col">
                    <input name="overlay_url" id="overlay_url" class="form-control w-50" type="url" value="{{ conf.overlay_url }}" {% if conf.streaming=="on" %}disabled{% endif %} placeholder="Overlay Url">
                </div>
            </div>




        </div>
    </div>
    <div class="row-sm">
        {% if conf.streaming=="off" %}<button type="submit" class="btn btn-primary">Update</button>
        {% else %}<button type="submit" class="btn btn-primary" disabled>Update</button>{% endif %}
    </div>

</form>
<br>
<form method="POST" action="" class="container">
    <div class="row-sm">
        <div class="col">
            {% if conf.streaming=="off" %}<button type="submit" class="btn btn-primary" id="streaming" name="streaming" value="on">Start streaming</button>
            {% else %}<button type="submit" class="btn btn-primary" id="streaming" name="streaming" value="off">End streaming</button>{% endif %}

        </div>
    </div>
</form>
<br>
<div class="container">
    <div class="col">
        <div class="row-sm">
            <a type="button" class="btn btn-secondary" href="{{ url_for('logout.logout') }}">Log out</a>
        </div>
    </div>
</div>
{% endblock %}
